body {
    background-color: #efefef;
}
a:hover {
    text-decoration: none;
}
.main {
    margin: 30px;
    padding: 10px 30px;
    background-color: white;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.media-object {
    width: 40px;
    height: 40px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.community-menu {
    font-size: 14px;
    color: #999999;
}
.jumbotron {
    text-align: center;
    margin: 100px;
}
.glyphicon-exclamation-sign {
    vertical-align: text-top;
    color: #2aabd2;
}
.message-box{
    border-radius: 10px;
    padding: 20px;
    height: auto;
    margin: 20px auto 0;
    width: 360px;
    background-color: white;
}
.message-box:hover {
    box-shadow: 10px 10px 40px;
}