body {
    background-color: #efefef;
}
.main {
    margin: 30px;
    padding: 10px 30px;
    background-color: white;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.media-object {
    width: 40px;
    height: 40px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #c4e3f3;
}