body {
    background-color: #efefef;
}
a:hover,a:focus {
    text-decoration: none;
}
/**
 * remove outline
 */
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
.main {
    margin: 30px;
    padding: 10px 30px;
    background-color: white;
}
.navbar-nav li:hover {
    background-color: #e0e0e0;
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}
.navbar-nav .dropdown-menu {
    padding: 0;
    text-align: center;
}
.unread {
    background-color: #4fccd9;
    margin-top: -18px;
}
.dropdown .tips {
    left: -45px;
}
.dropdown li a{
    line-height: 40px;
    font-size: 14px;
}
.dropdown li a:hover {
    background-color: #efefef;
    color: #2aabd2;
    box-shadow: none;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.media {
    margin-top: 5px;
}
.media hr {
    margin: 10px 0;
}
.media-object {
    width: 40px;
    height: 40px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.community-menu {
    font-size: 14px;
    color: #999999;
}
.jumbotron {
    text-align: center;
    margin: 100px;
}
.glyphicon-exclamation-sign {
    vertical-align: text-top;
    color: #2aabd2;
}
.message-box{
    border-radius: 10px;
    padding: 20px;
    height: auto;
    margin: 20px auto 0;
    width: 360px;
    background-color: white;
}
.message-box:hover {
    box-shadow: 10px 10px 40px;
}
.user-name {
    padding-top: 9px;
}
.comment {
    margin: 10px 0;
}
.tip-login {
    margin: 60px 0 -90px 0;
    text-align: center;
    font-size: 20px;
    position: relative;
    color: #999999;
}
.comment-count {
    position: relative;
    margin: 50px 0 -10px 0;
}
.btn-comment {
    height: 30px;
    font-size: 16px;
    background-color: white;
    color: #b0b0b0;
    border: 1px solid #ededed;
    padding: 3px 10px 0 10px;
    margin: 10px 3px 5px 0;
}
.btn-comment:hover {
    background-color: #5bc0de;
    color: white;
}
.btn-comment:focus {
    background-color: #5bc0de;
    color: white;
}
.comment-date {
    margin-top: 20px;
    font-size: 14px;
    float: right;
}
.comment-box {
    border: 2px solid #eee;
    padding: 0 20px;
    border-radius: 5px;
    margin-top: 5px;
}
.comment-box:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border: 5px solid transparent;
    border-bottom: 5px solid #eee;
    margin-top: -12px;
    left: 145px;
}
.comment-box .media{
    margin-top: 20px;
}
.comment-box .media hr{
    margin-bottom: 0;
}
.no-comment {
    padding-bottom: 20px;
    text-align: center;
    color: #b0b0b0;
    font-size: 18px;
}
.reply-box {
    padding: 20px 30px;
    display: block;
    position: relative;
    margin: -1px -20px;
    background-color: #eee;
    overflow: auto;
}
.btn-reply {
    background-color: #3eadce;
    color: white;
}
.btn-reply:hover,
.btn-reply:focus {
    background-color: #5bc0de;
    color: white;
}
.reply-info {
    color: #b0b0b0;
    font-size: 13px;
    margin-top: 20px;
    vertical-align: baseline;
    box-sizing: border-box;
}
.reply-info .time,
.like,.reply {
    margin-right: 30px;
}
.reply-info .liked-count {
    vertical-align: text-top;
}
.label-box {
    width: 100%;
    height: auto;
    margin: -10px 0 10px 0;
}
.label-box .label,
.label-info{
    margin-right: 5px;
    font-size: 12px;
}
.glyphicon-tags {
    vertical-align: middle;
    margin-right: 3px;
}
.related-box {

}
.related-box ul{
    list-style: none;
    padding-left: 10px;
    font-size: 14px;
    line-height: 30px;
}
.related-box li a{
    color: #007b9f;
}
.related-box li a:hover,
.related-box li a:focus {
    color: #5bc0de;
}
.img-box {
    padding: 20px;
    margin-bottom: 0;
}
.img-box img {
    width: 100%;
}
/*
 * 发布问题界面的样式
 */
.add-tag {
    display: inline-block;
}
.add-tag-menu {
    height: auto;
    width: 450px;
}
.add-tag .form-group {
    margin-bottom: 0;
}
.category-tip {
    padding: 6px 5px 5px 5px;
    margin: 0;
}
.nav-tabs li a {
    padding: 5px;
    color: #808080;
}
.nav-tabs li a:hover {
    color: white;
    background-color: #8d8d8d;
    border-radius: 4px;
}
.nav-tabs li.active  a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
    border: none;
    color: white;
    background-color: #8d8d8d;
    border-radius: 4px;
}
.tag-category {
    padding: 0;
    margin: 0 20px;
    border-bottom: none;
}
.tag-list {
    list-style: none;
    padding-block-start: 10px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
}
.tag-list li {
    display: inline-block;
}
.tab-content li{
    line-height: 30px;
    margin-right: 3px;
}
.tab-content a{
    background-color: #66b8ff;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}
.tab-content a:hover{
    color: #efefef;
    box-shadow: 0 0 2px 2px;
    background-color: #0294c0;
}
.btn-tag,
.btn-tag:focus,
.btn-tag.focus {
    background-color: grey;
    color: white;
    margin-right: 10px;
}
.btn-tag:hover {
    color: #e8e8e8;
    box-shadow: 0 0 2px 2px;
}
.btn-tag .del-tag {
    margin-left: 5px;
}
.btn-tag .del-tag:hover {
    color: #0f0f0f;
}
.alert {
    margin: 10px 0;
}
.warning {
    background-color: #d9534f;
}
/*
 * 个人主页的样式
 */
.content-box {
    padding: 0 20px;
}
.options {
    width: auto;
    margin-top: -45px;
    display: none;
    float: right !important;
}
.options a {
    color: #999999;
    display: block;
    padding: 0 10px;
    margin-bottom: 3px;
}
.option-edit:hover {
    color: #66b8ff;
}
.option-remove:hover {
    color: #d9534f;
}
.options .glyphicon-remove:before {
    vertical-align: text-bottom;
}
.btn-cancel,
.btn-cancel:focus,
.btn-cancel.focus {
    background-color: grey;
    color: white;
}
.btn-cancel:hover {
    color: white;
    box-shadow: 0 0 2px 2px #e8e8e8;
    background-color: #646464;
}
.btn-remove,
.btn-remove:focus,
.btn-remove.focus {
    background-color: #d9534f;
    color: white;
}
.btn-remove:hover {
    color: white;
    box-shadow: 0px 0px 2px 2px #fcbcbb;
    background-color: #d52e2a;
}
.content-title {
    margin: 5px 0;
    font-size: 20px;
    text-align: center;
    color: #337ab7;
}
.message-trash{
    margin: -30px 20px 0;
    float: right!important;
    color: #c2c2c2;
}
.message-trash:hover,
.message-trash:focus,
.message-trash.focus {
    color: #5bc0de;
}
.history-divider {
    height: 0;
    margin: 10px 20px 30px;
    border-bottom: solid 1px #ccc;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    align-items: center;
    -webkit-box-align: center;
    color: #b0b0b0;
    font-size: 15px;
}
.history-message {
    padding: 0 20px;
    background-color: white;
    z-index: 1;
}
/*
 * This's used for JS to modify the operation date.
 * CSS style is not needed temporarily.
 */
.time-ago {
}
.index-description {
}
.index-divider {
    margin-bottom: 0;
}
.horizon-divider {
    border-right: solid 1.5px #efefef;
}
.community-footer {
    text-align: center;
    color: grey;
    font-size: 13px;
    margin-bottom: 15px;
}